@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-primary-blue: #2563EB;
  --color-dark-slate: #263C5C;
  --color-emerald: #059669;
  --color-steel-blue: #344762;
  --color-navy: #1C2C43;
  --color-charcoal: #111827;
  --color-bg: linear-gradient(180deg, #111827 9.79%, #141F35 100%);
  --color-red: #FF5959;
  --font-roboto: var(--font-roboto), sans-serif;
}

@layer base {
  html, body {
    min-height: 100vh;
    color: var(--color-white);
    font-family: var(--font-roboto), sans-serif;
    background: var(--color-bg);
  }
}

@layer components {
  .box {
    @apply w-full max-w-[1920px] mx-auto px-[80px];
  }
  .text_title {
    @apply text-[72px] font-bold font-roboto leading-[1.167];
  }
  
  .text_title-second {
    @apply text-[48px] font-bold font-roboto leading-[1.167];
  }
  
  .text_subtitle {
    @apply text-[32px] font-normal font-roboto leading-[1.167];
  }
  
  .text_base {
    @apply text-[24px] font-normal font-roboto leading-[1.167];
  }
  
  .text_accent {
    @apply text-[24px] font-medium font-roboto leading-[1.167];
  }
  
  .text_extra {
    @apply text-[16px] font-medium font-roboto leading-[1.167];
  }
  
  .text_button {
    @apply text-[24px] font-bold font-roboto leading-[1.167];
  }

  .card{
    background-color: var(--color-navy);
    border-radius: 16px;
  }
}